
:root {
    --red: #F57676;
    --grey: #D9D9D9;
    --brown: #362412;
}

.header-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    border-bottom: solid 8px #F57676;
    padding: 7px;
    margin: 1%;
}

aside {
    float: left;
}

.product-information {
    display: flex;
    flex-direction: column;
}

.drug-info {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.title {
    font-size:50px ;
    width: 100vw;
    text-align: center;
}

.main-container{
    text-align: center;
    margin: 0px 100px 0px 100px;
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;

}

.flow {
    max-width: 2000px;
}

hr {
    height: 8px;
    min-width: 200px;
}

.center{
    text-align: center;
}
.red {
    background-color: #F57676;
    color: white;
}

.grey {
    background-color: #D9D9D9;
    color: #362412;
}

.comment {
    border-radius: 10px;
    padding: 35px;
    font-size: 20px;
    min-width: 300px;
    text-overflow: scroll;
    background-color: whitesmoke;
}

.brown {
    color: #362412;
}

.link {
    padding: 10px;
}

.font-display {
    font-family: 'Playfair Display', serif;
}
.font-display-bold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h2 {
    justify-content: center;
    align-items: center;
}
h4 {
    font-size: 30px;
    margin: 0% ;
}

h3 {
    font-size: 40px;
    margin: 0%
}

h5{
    font-size: 25px;
}
button {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(245, 120, 17);
    width: 180px;
    padding: 5px;
    border-radius: 3px;
    justify-content: center;
}

#rabbit {
    justify-content: flex-start;
    width: 5%;
    height: 100%;
    transform: rotate(11deg);
    margin-left: 10px;
}

#image-api {
    border: #362412 solid 8px;
    border-radius: 5px;
    margin-top: 10%;
    width: 75%;
    height: 75%;
    justify-content: center;
}

#api-source {
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .instructions,
    .body-element,
    .search-container,
    .search,
    .calendar-container-from,
    .calendar-container-to,
    #from,
    #to {
        height: 75%;
        width: 75%;
        justify-content: center;
    }};

    .app-name {
        height: 75%;
        width: 100%;
    };

@media (max-width: 767px) {
    .instructions,
    .body-element,
    .search-container,
    .search,
    .calendar-container-from,
    .calendar-container-to,
    #from,
    #to {
        height: 50%;
        width: 50%;
    }
    .app-name {
        height: 50%;
        width: 100%;
    }
};

