
:root {
    --red: #F57676;
    --grey: #D9D9D9;
    --brown: #362412;
}


.title {
    margin: 70px 50px 20px 50px;
    font-size:50px ;
    text-align: center;
}

.main-container{
    text-align: center;
    margin: 0px 100px 0px 100px;

}

.flow {
    max-width: 2000px;
}

aside {
    float: left;
}
hr {
    height: 8px;
    min-width: 200px;
}

img {
    min-width: 400px;
    min-height: 425px;
    max-width: 300px;
    max-height: 400px;

    margin: 110px 40px 0px 40px;
    border: #362412 solid 8px;
    border-radius: 5px;
    text-align: center;
}
.right{
    text-align: right;
}
.red {
    background-color: #F57676;
    color: white;
}

.grey {
    background-color: #D9D9D9;
    color: #362412;
}

.comment {
    border-radius: 10px;
    padding: 35px;
    font-size: 20px;
    min-width: 300px;
    text-overflow: scroll;
}

.brown {
    color: #362412;
}

.font-display {
    font-family: 'Playfair Display', serif;
}
.font-display-bold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
h4 {
    font-size: 30px;
    margin: 0% ;
}

h3 {
    font-size: 40px;
    margin: 0%
}

h5{
    font-size: 25px;
}
button {
    border-radius: 10px;
    border: #F57676 1px solid;
    width: 200px;
    text-align: left;
    padding: 10px;
    font-size: 15px;
}

@media (min-width: 500px) and (max-width: 1023px) {
:root{
    text-align: center
    }};


    
/*
@media (min-width: 768px) and (max-width: 1023px) {
    .main-container,
    img,
    .hr,
    .comment,
    .font-display {
        height: 75%;
        width: 75%;
    }};

@media (min-width: 768px) and (max-width: 1023px) {
    .main-container,
    img,
    .hr,
    .comment,
    .font-display{
        height: 50%;
        width: 50%;
    }
}
*/